.navbar {
    padding: 0px 15%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: lightblue;
    width: 70%;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar_navbar {
    border: 1px solid black;
    margin: 4%;
}
